<div id="footer-wrapper" class="footer-dark">
    <footer id="footer">
        <div class="container">
            <div class="row">
                <ul class="col-md-3 col-sm-6 footer-widget-container clearfix">
                    <!-- .widget.widget_text -->
                    <li class="widget widget_newsletterwidget">
                        <div class="title">
                            <h3>envianos tu e-mail</h3>
                        </div>

                        <p>
                            Nos pondremos en contacto contigo.
                        </p>

                        <br />

                        <form class="newsletter">
                            <input class="email" type="email" placeholder="tú email...">
                            <input type="submit" class="submit" value="">
                        </form>
                    </li><!-- .widget.widget_newsletterwidget end -->
                </ul><!-- .col-md-3.footer-widget-container end -->

                <ul class="col-md-3 col-sm-6 footer-widget-container">
                    <!-- .widget-pages start -->
                    <li class="widget widget_pages">
                        <div class="title">
                            <h3>Secciones</h3>
                        </div>

                        <ul>
                        {% assign mypages = site.pages | sort : "order" %}
                        {% for page in mypages %}
                            {% if page.title %}
                                <li><a href="{{ page.url }}">{{page.title}}</a></li>
                            {% endif %}
                         {% endfor %}
                        </ul>
                    </li><!-- .widget-pages end -->
                </ul><!-- .col-md-3.footer-widget-container end -->

                <ul class="col-md-3 col-sm-6 footer-widget-container">
                    <!-- .widget-pages start -->
                    <li class="widget widget_pages">
                        <div class="title">
                            <h3>Soluciones para las empresas</h3>
                        </div>

                        <ul>
                            <li><a href="">PREDIOS</a></li>
                            <li><a href="">TRAILERS</a></li>
                            <li><a href="">VIVIENDAS</a></li>
                            <li><a href="">CAÑOS TUBING</a></li>
                            <li><a href="">GALPÓN</a></li>
                        </ul>
                    </li><!-- .widget-pages end -->
                </ul><!-- .col-md-3.footer-widget-container end -->

                <ul class="col-md-3 col-sm-6 footer-widget-container">
                    <li class="widget widget-text">
                        <div class="title">
                            <h3>Contacto</h3>
                        </div>

                        <address>
                            123 Second Street Fifth Avenue, <br />
                            Manhattan, New York
                        </address>

                        <span class="text-big">
                            +00 54 299 489 6587
                        </span>
                        <br />

                        <a href="mailto:">info@trucking.com</a>
                        <br />
                        <ul class="footer-social-icons">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                        </ul><!-- .footer-social-icons end -->
                    </li><!-- .widget.widget-text end -->
                </ul><!-- .col-md-3.footer-widget-container end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </footer><!-- #footer end -->

    <div class="copyright-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>TRUCKING 2015. All RIGHTS RESERVED.</p>
                </div><!-- .col-md-6 end -->

                <div class="col-md-6">
                    <p class="align-right">DESIGNED AND DEVELOPED BY <a href="www.pixel-industry.com">PIXEL INDUSTRY.</a> ELITE AUTHOR.</p>
                </div><!-- .col-md-6 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .copyright-container end -->

    <a href="#" class="scroll-up">Scroll</a>
</div><!-- #footer-wrapper end -->